<div class="container-fluid fondo-principal overflow-auto">
  <h3 class="text-center"> TRABAJO PRACTICO 4 </h3>
  <p  class="text-center"> En este trabajo práctico se busca conocer como funciona angular en diferentes contextos</p>
    <div class="row mt-5 mb-5">
      <div class="col-12 col-md-6 col-lg-3 mb-3">
          <button class="btn btn-lg custom-btn btn-1" [routerLink]="['/punto1']">
            <img src="assets/menu-iconos/mercado.svg" alt="Icono 1">
          </button>
        </div>

      <div class="col-12 col-md-6 col-lg-3 mb-3">
          <button class="btn btn-lg custom-btn btn-2" [routerLink]="['/punto2']">
            <img src="assets/menu-iconos/juego.svg" alt="Icono 2">
          </button>
        </div>

      <div class="col-12 col-md-6 col-lg-3 mb-3">
          <button class="btn btn-lg custom-btn btn-3" [routerLink]="['/punto3']">
            <img src="assets/menu-iconos/bootstrap.svg" alt="Icono 3">
          </button>
        </div>

      <div class="col-12 col-md-6 col-lg-3 mb-3" [routerLink]="['/punto5TicketForm']">
          <button class="btn btn-lg custom-btn btn-4">
            <img src="assets/menu-iconos/servicio.svg" alt="Icono 4">
          </button>
        </div>
    </div>
</div>


