<nav class="navbar navbar-expand-lg navbar-light navbar-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular en Programación y Servicios Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Componentes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/punto1']">Componente 1</a></li>
            <li><a class="dropdown-item" [routerLink]="['/punto2']">Componente 2</a></li>
            <li><a class="dropdown-item" [routerLink]="['/punto3']">Componente 3</a></li>
            <li><a class="dropdown-item" [routerLink]="['/punto5TicketForm']">Componente 4</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-buscar" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
