<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/whatCanISay.jpeg" class="card-img-top" alt="Album de BrandiCarlile">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">what can I say?</h5>
              <p class="card-text">Una canción de la banda sonora de la exitosa serie Anatomia de Grey</p>
              <a href="#ventana1" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/whereDoesTheGoodGo.jpeg" class="card-img-top" alt="Album de TeganAndSara">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">where does the good go?</h5>
              <p class="card-text">Un exito de Tegan y Sara del Album 'So Jealous'</p>
              <a href="#ventana2" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/universeAndU.jpeg" class="card-img-top" alt="Album de BrandiCarlile">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">Universe And U</h5>
              <p class="card-text">Un exito musical del 2004 de la artista KT Tunstall </p>
              <a href="#ventana3" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/theStory.jpeg" class="card-img-top" alt="Album de Sara Ramirez">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">The Story</h5>
              <p class="card-text">La actriz Sara Ramirez presenta su One Hit Wonder 'The Story'</p>
              <a href="#ventana4" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/theWinnerTakesItAll.jpeg" class="card-img-top" alt="Album de ABBA">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">The Winner Takes It All</h5>
              <p class="card-text">El exito de ABBA 'The Winner Takes It All' te sigue en tu mejor momento</p>
              <a href="#ventana5" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card pb-0 m-2">
            <img src="assets/punto3-portadas/friends.jpeg" class="card-img-top" alt="Cancion de Anne Marie">
            <div class="card-body pb-0 m-5">
              <h5 class="card-title">Friends</h5>
              <p class="card-text">Anne Marie presenta un exito en conjunto al famoso DJ Marshmello</p>
              <a href="#ventana6" class="btn btn-primary d-block mt-5" data-bs-toggle="modal">Escuchala</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="card-publicidad">
        <img src="assets/punto3-portadas/p1.jpg" alt="A" class="w-100">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">what can I say?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">Una canción de la banda sonora de la exitosa serie Anatomia de Grey</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="315" height="315" src="https://www.youtube.com/embed/BAikRDZajuM?si=xIwMLf_4ZXgkAg5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">where does the good go</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">Un exito de Tegan y Sara del Album 'So Jealous'</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="315" height="315" src="https://www.youtube.com/embed/VFLzZY3w3vg?si=iCwjGLBSGm8JliIx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Universe and U</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">Un exito musical del 2004 de la artista KT Tunstall</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="315" height="315" src="https://www.youtube.com/embed/dMD2Riybg0E?si=CrYzZX57FTKlwJG_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana4">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The Story</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">La actriz Sara Ramirez presenta su One Hit Wonder 'The Story'</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="315" height="315" src="https://www.youtube.com/embed/DYA_oBwIBZM?si=_igEkmvnvLN5fhOh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana5">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The Winner Takes It All</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">El exito de ABBA 'The Winner Takes It All' te sigue en tu mejor momento</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="315" height="315" src="https://www.youtube.com/embed/0d3wxfS4Dtw?si=7ZpkdBkpXfj2wayU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ventana6">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Friends</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-center justify-content-center d-flex flex-column">
        <p class="mb-3">Anne Marie presenta un exito en conjunto al famoso DJ Marshmello</p>
        <div class="d-flex justify-content-center align-items-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CY8E6N5Nzec?si=Mp8x5uwce1gvcXne" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
