
<div class="container-fluid fondo-principal overflow-auto">
  <h3 class="text-center"> TRABAJO PRACTICO 3 </h3>
  <p  class="text-center"> En este trabajo práctico se busca conocer como funciona bootstrap en diferentes contextos</p>
  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <button class="btn btn-lg custom-btn btn-1" [routerLink]="['/grilla']">
        <img src="assets/punto3-iconos/home.svg" alt="Icono 1">
      </button>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <button class="btn btn-lg custom-btn btn-2">
        <img src="assets/punto3-iconos/vinyl.svg" alt="Icono 2" [routerLink]="['/musica']">
      </button>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <button class="btn btn-lg custom-btn btn-3">
        <img src="assets/punto3-iconos/conversor.svg" alt="Icono 3" [routerLink]="['/conversor']">
      </button>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <button class="btn btn-lg custom-btn btn-4">
        <img src="assets/punto3-iconos/zodiaco.svg" alt="Icono 4" [routerLink]="['/calendario']">
      </button>
    </div>
  </div>
</div>
